@model PostModel

<h4 class="breadcrumb padding-left-small font-weight-400"> 
    @for(var i = 0; i <= Model.breadcrumb.Count - 1; i++){
        <a href="@Model.breadcrumb[i].slug">
            @if(i < Model.breadcrumb.Count - 1 ){
                @string.Concat(Model.breadcrumb[i].name, " >")
            } else {
                @Model.breadcrumb[i].name;
            }
        </a>
    }
</h4>

<div id="post-display" class="padding-small" post="@Model.id" argument="@Model.argumentId">
    @Html.Raw(Model.testo)

    <div id="album">
        <input type="hidden" value="@Model.albumId" />
    </div>

</div>

<div class="related-container text-center">

    @Html.Partial("/Views/Partial/Post/_RelatedPost.cshtml", Model)

    @Html.Partial("/Views/Partial/Post/_RelatedArgument.cshtml", Model)
    
    @Html.Partial("/Views/Partial/Post/_Gallery.cshtml", Model)

</div>

@Html.Partial("/Views/Partial/Post/_Reviews.cshtml", Model)




<input type="hidden" id="coverImage" value="@Model.coverImage" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.js"></script>
<script src="~/js/post.js"></script>
<script>
    $(document).ready(post.init)
</script>