@model ArgumentModel

<h2 class="text-center font-weight-500 text-uppercase padding-top-small padding-bottom-small margin-remove">@Model.sectionName</h2>
<div id="list" class="padding-bottom-small margin-bottom-medium">

    @foreach (var argument in Model.argumentsDisplay)
    {
        <div id="@argument.id" class="item carousel__photo text-center argument" data-href="@argument.slug">
            <section class="card-head border-radius-small box-shadow" style="background-image: url('@argument.coverImage')"></section>
            <section class="card-body padding-xsmall box-shadow margin-bottom-medium background-color-white">
                <h3 class="font-weight-600 text-center text-uppercase">@argument.title</h3>
                <p>@Html.Raw(argument.descrizione)</p>
            </section>
            <a class="text-center background-color-blue color-white border-radius-small text-uppercase btn readmore" href="@argument.slug"> Leggi di più </a>
        </div>
    }
</div>

<ul class="paginator text-center">
    @for(int i = 1; i <= Model.pageTotal; i++)
    {

        @if(i == 1){
            <li class="btn paginator active box-shadow text-center">
                <a href="@string.Concat(Model.sectionName, "?pageSize=20&pageNumber=", i )" class="color-white">
                    @i
                </a>
            </li>
        } else {
            <li class="btn paginator box-shadow text-center">
                <a href="@string.Concat(Model.sectionName, "?pageSize=20&pageNumber=", i )" class="color-black">
                    @i
                </a>
            </li>
        }
    }
</ul>
