<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <title>Tre A</title>
    <link rel="shortcut icon" href="/wwwroot/favicon.ico" type="image">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/index.css" />

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="handheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, minimal-ui, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="cleartype" content="on" />
    <meta name="robots" content="index, follow">
    <meta http-equiv="content-type" content="text/html;">
    <meta http-equiv="content-language" content="it">
    <meta property="og:title" content="Tre A in viaggio"/>
    <meta property="og:url" content="http://www.treainviaggio.it/">
    <meta property="og:title" content="Tre A in vaiggio">
    <meta property="og:description" content="@ViewBag.description">
    <meta name="twitter:card" content="@ViewBag.description">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    
    <!-- IUBENDA -->
    <script type="text/javascript">
        var _iub = _iub || [];
        _iub.csConfiguration = {"lang":"it","siteId":1842197,"cookiePolicyId":99727892, "banner":{ "acceptButtonDisplay":true,"customizeButtonDisplay":true,"position":"float-top-center" }};
    </script>
    <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>

</head>
<body>
    
    <section id="sidebar" class="sidebar background-color-blue">
        <ul class="social border-radius-small text-center">
            <li class="facebook">
                <a href="https://it-it.facebook.com/" target="_blank" rel="nofollow"></a>
            </li>
            <li class="instagram">
                <a href="https://www.instagram.com/?hl=it" target="_blank" rel="nofollow"></a>
            </li>
            <li class="youtube">
                <a href="https://www.youtube.com/?hl=it&gl=IT" target="_blank" rel="nofollow"></a>
            </li>
            <li class="spotify">
                <a href="https://www.spotify.com/it/" target="_blank" rel="nofollow"></a>
            </li>
        </ul>
        <h1 class="text-center color-white title">
            <a class="color-white" asp-area="" asp-controller="Home" asp-action="Index">TRE A</a> 
        </h1>
    </section>
        
    <header>
      
        <div class="nav-container">
            <ul class="social border-radius-small text-center">
                <li class="facebook">
                    <a href="https://it-it.facebook.com/" target="_blank" rel="nofollow"></a>
                </li>
                <li class="instagram">
                    <a href="https://www.instagram.com/?hl=it" target="_blank" rel="nofollow"></a>
                </li>
                <li class="youtube">
                  <a href="https://www.youtube.com/?hl=it&gl=IT" target="_blank" rel="nofollow"></a>
                </li>
                <li class="spotify">
                    <a href="https://www.spotify.com/it/" target="_blank" rel="nofollow"></a>
                </li>
            </ul>

            <h1 class="text-center color-white title"> 
                <a class="color-white" asp-area="" asp-controller="Home" asp-action="Index">TRE A</a> 
            </h1>
            <span class="menu">
                <span class="border-radius-small color-white background-color-white"></span>
                <span class="border-radius-small color-white background-color-white"></span>
                <span class="border-radius-small color-white background-color-white"></span>
            </span>
        </div>       
        
        <h1 class="text-center color-white font-weight-600 text-uppercase slide-in-top"> @ViewBag.title </h1>
        <h2 class="text-center color-white slide-in-left"> @ViewBag.subtitle </h2>

        <div class="about-us padding-xsmall">
            <h2 class="color-white font-weight-600"></h2>
            <p class="color-white text-center"></p>
        </div>
        <input type="text" class="search-bar border-radius-small background-color-white color-black padding-left-xsmall" placeholder="Cerca..." />
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer class="background-color-blue padding-top-small">
        <div>
            <ul>
                <li>
                    <a asp-area="" asp-controller="SiteMap" asp-action="Index" class="color-white text-center">Mappa del sito</a>
                </li>
                <li>
                    <a href="https://www.iubenda.com/privacy-policy/99727892" class="iubenda-white no-brand iubenda-embed" title="Privacy Policy ">Privacy Policy</a>
                    <script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
                </li>
                <li>
                    <a href="https://www.iubenda.com/privacy-policy/99727892/cookie-policy" class="iubenda-white no-brand iubenda-embed" title="Cookie Policy ">Cookie Policy</a>
                    <script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
                </li>
            </ul>
        </div>
        
        <div>
            <p class="title color-white font-weight-600 text-center">Tre A in Viaggio</p>
            <ul class="social text-center">
                <li class="cartorange">
                    <a href="https://www.cartorange.com/andreasalvinosettoni/" target="_blank" rel="nofollow"></a>
                </li>
                <li class="facebook">
                    <a href="https://it-it.facebook.com/" target="_blank" rel="nofollow"></a>
                </li>
                <li class="instagram">
                    <a href="https://www.instagram.com/?hl=it" target="_blank" rel="nofollow"></a>
                </li>
                <li class="youtube">
                    <a href="https://www.youtube.com/?hl=it&gl=IT" target="_blank" rel="nofollow"></a>
                </li>
                <li class="spotify">
                    <a href="https://www.spotify.com/it/" target="_blank" rel="nofollow"></a>
                </li>
            </ul>
        </div>
    </footer>

    <script src="~/js/index.js" asp-append-version="true"></script>
    <script src="~/js/newsletter.js" asp-append-version="true"></script>
    
    <script>
        $(document).ready(function(){
            app.init();
            newsletter.init();
        })
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158385045-1"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147413187-2"></script>
    
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-158385045-1');
        gtag('config', 'UA-147413187-2');
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
