@model PostModel

<h3 class="text-center">@Model.sectionName</h3>
<div id="list" class="padding-bottom-small">

    @foreach (var post in Model.postsDisplay)
    {
        <div id="@post.id" class="item carousel__photo border-radius-small box-shadow" style="background-image: url('@post.coverImage')" data-href="@post.slug">
            <h3 class="text-center color-white border-radius-small"> 
                <a class="text-center color-white border-radius-small" href="@post.slug"> @post.title </a>
            </h3>
        </div>
    }
</div>
