@model PostModel

<h3 class="text-center text-uppercase">@Model.sectionName</h3>
<div id="list" class="padding-bottom-small margin-bottom-medium">
    @foreach (var post in Model.postsDisplay)
    {
        <div id="@post.id" class="item carousel__photo border-radius-small box-shadow" style="background-image: url('@post.coverImage')" data-href="@post.slug">
            <h3 class="text-center color-white border-radius-small"> 
                <a class="text-center color-white border-radius-small" href="@post.slug"> @post.title </a>
            </h3>
        </div>
    }
</div>
<ul class="paginator text-center">
    @for(int i = 1; i <= Model.pageTotal; i++)
    {

        @if(i == 1){
            <li class="btn paginator active box-shadow text-center">
                <a href="@string.Concat(Model.sectionName, "?pageSize=20&pageNumber=", i )" class="color-white">
                    @i
                </a>
            </li>
        } else {
            <li class="btn paginator box-shadow text-center">
                <a href="@string.Concat(Model.sectionName, "?pageSize=20&pageNumber=", i )" class="color-black">
                    @i
                </a>
            </li>
        }
    }
</ul>

